:root {
  --sdp-color: #005fcc;
  --sdp-invert-color: #fff;
  --sdp-shadow-color: 0deg 0% 50%
}

@keyframes fadeIn {
  from {
    transform: translateY(-40px) scale(0.75);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-40px) scale(0.75);
    opacity: 0;
  }
}

[data-controller="datepicker"] {
  position: relative;
}
.sdp-cal {
  z-index: 1;
  position: absolute;
  margin-top: 5px;
  box-sizing: border-box;
  width: fit-content;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  background: white;
  box-shadow: 0 1.25em 1.25em -0.9375em hsl(var(--sdp-shadow-color) / 0.3);
}
.sdp-cal.fade-in {
  animation: fadeIn 0.1s ease-out;
}
.sdp-cal.fade-out {
  animation: fadeOut 0.1s ease-out;
}
@media (prefers-reduced-motion) {
  .sdp-cal.fade-in, .sdp-cal.fade-out {
    animation: none
  }
}
.sdp-cal button {
  border: none;
  background: none;
  padding: 0;
}

.sdp-nav {
  margin-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sdp-nav-dropdowns, .sdp-nav-buttons {
  display: flex;
}
.sdp-nav-dropdowns select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  color: currentColor;
  padding: 1px 12px 1px 1px;
  border: 1px solid transparent;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}
.sdp-nav-dropdowns > div {
  display: flex;
  align-items: center;
}
.sdp-nav-dropdowns > div::after {
  content: " ";
  border: 2px solid #4a4a4acc;
  border-top: 0;
  border-right: 0;
  width: 0.3em;
  height: 0.3em;
  transform: rotate(-45deg);
  right: 10px;
  position: relative;
}
.sdp-nav-buttons button {
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  color: #4a4a4acc;
  background-color: #f5f5f5;
  cursor: pointer;
}
.sdp-nav-buttons button:hover {
  background-color: #eee;
}
.sdp-nav-buttons svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  width: 0.75em;
  height: 0.75em;
}
.sdp-goto-today {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.sdp-days-of-week, .sdp-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 0.3em;
}
.sdp-days-of-week {
  margin-bottom: 0.7em;
}
.sdp-days-of-week div {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #4a4a4a;
  font-weight: 600;
}

.sdp-days button {
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
}
.sdp-days button:enabled {
  color: currentColor;
  cursor: pointer;
}
.sdp-days button.sdp-selected {
  background-color: var(--sdp-color);
  color: var(--sdp-invert-color);
}
.sdp-days button.sdp-today {
  border: 1px solid var(--sdp-color);
}
/* Ideally we would use outline and outline-offset for the :hover and :focus
 * styles.  But Safari's outline doesn't follow the border-radius; it is square.
 * https://bugs.webkit.org/show_bug.cgi?id=231433
 * https://bugs.webkit.org/show_bug.cgi?id=20807
 */
.sdp-days button:hover,
.sdp-days button:focus {
  outline: none;
  border: 2px solid var(--sdp-color);
}
.sdp-days button.sdp-selected:hover,
.sdp-days button.sdp-selected:focus {
  outline: none;
  border: 2px solid var(--sdp-invert-color);
  box-shadow: 0 0 0 2px var(--sdp-color);
}
.sdp-days button.sdp-today:hover,
.sdp-days button.sdp-today:focus {
  outline: none;
  border: 2px solid var(--sdp-color);
}
.sdp-days button.sdp-prev-month:enabled,
.sdp-days button.sdp-next-month:enabled {
  color: #888;
}
